

{% macro country_flag(country) %}
  <span class="flag-icon flag-icon-{{country}}"></span>
{% endmacro %}


{% macro icon(move) %}
  <img src="https://cdn.geokrety.org/images/log-icons/{{move.type_.id}}/{{move.type_.id}}.png" alt="Dropped to" title="1618520 Dropped to">
{% endmacro %}
